<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width initial-scale=1.0">
	
	<title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
	{% if meta.description %}
	<meta name="description" content="{{ meta.description }}"> 
	{% endif %}{% if meta.robots %}
	<meta name="robots" content="{{ meta.robots }}">
	{% endif %}
	
	<link rel="stylesheet" href="{{ theme_url }}/assets/css/main.css" type="text/css" />
</head>
<body>


	<!-- /////////////////////////////////////////////////////////////// -->
	<div class="container">
		<header id="header">
			<div  class="jumbotron">
				<div class="logo"><a href="{{ base_url }}">{{ site_title }}</a></div>
				{{ myNavigation.navigation }}
			</div>
		</header>
	</div>

	<!-- /////////////////////////////////////////////////////////////// -->
	<div class="container">
		<section id="content">
			{{ content }}
		</section>
	</div>

	<!-- /////////////////////////////////////////////////////////////// -->	
	{% if meta.tags is not empty %}
	<div class="container">
		<div class="tags">
			<i class="fa fa-tag"></i>
			{% for tag in meta.tags %}
			<a href="{{ base_url }}/tag/{{ tag }}">{{ tag }}</a> 
			{% endfor %}
		</div>
	</div>
	{% endif %}

	<!-- /////////////////////////////////////////////////////////////// -->	
	<div class="container">
		<footer id="footer">
			A very cool footer !
		</footer>
	</div>
	
	<!-- /////////////////////////////////////////////////////////////// -->
	<script src="{{ theme_url }}/assets/js/_build.js"></script>

</body>
</html>
