<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width initial-scale=1.0">
	
	<title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
	{% if meta.description %}
	<meta name="description" content="{{ meta.description }}"> 
	{% endif %}{% if meta.robots %}
	<meta name="robots" content="{{ meta.robots }}">
	{% endif %}
	
	<link rel="stylesheet" href="{{ theme_url }}/assets/css/main.css" type="text/css" />
	<script src="{{ theme_url }}/assets/js/modernizr.js"></script>
</head>
<body>

	<!-- /////////////////////////////////////////////////////////////// -->
	<div class="container">
		<header id="header">
			<div  class="jumbotron">
				<h1><a href="{{ base_url }}">{{ site_title }}</a></h1>
				{{ myNavigation.navigation }}
			</div>
		</header>
	</div>

	<!-- /////////////////////////////////////////////////////////////// -->
	<div class="container">
		<section id="content">
			{{ content }}

			{% for reddit in reddits %}
				<div class="reddit">
					<h2>{{ reddit.data.title }}	</h2>
					<p><a href="http://reddit.com/{{ reddit.data.permalink }}" target="_blank">http://reddit.com/{{ reddit.data.permalink }}</a></p>
					<img src=" {{ reddit.data.thumbnail }} "/>
				</div>
			{% endfor %}
		</section>
	</div>

	<!-- /////////////////////////////////////////////////////////////// -->	
	<div class="container">
		<footer id="footer">
			A very cool footer !
		</footer>
	</div>
	

	<!-- /////////////////////////////////////////////////////////////// -->
	<script data-main="{{ theme_url }}/assets/js/scripts.min" src="{{ theme_url }}/assets/js/require.js"></script>

</body>
</html>
